<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Monstruito :o</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <header class="header">
        <h1 class="title">What did I eat</br>yesterday?</h1>
    </header>
    <main class="main">
        <div class="body_monstruo">
            <span class="dialogue">Hi! I'm Frankie</span>
            <div class="body_eye eye1">
                <div class="body_eyelidup eyelid1"></div>
                <div class="body_eyeliddown eyelid4"></div>
            </div>
            <div class="body_eye eye2">
                <div class="body_eyelidup eyelid2"></div>
                <div class="body_eyeliddown eyelid5"></div>
            </div>
            <div class="body_eye eye3">
                <div class="body_eyelidup eyelid3"></div>
                <div class="body_eyeliddown eyelid6"></div>
            </div>
            <div class="mouth">
                <div class="tooth"></div>
                <div class="seed seed1"></div>
                <div class="seed seed2"></div>
                <div class="seed seed3"></div>
                <div class="seed seed4"></div>
                <div class="seed seed5"></div>
            </div>
            <div class="arm armleft">
                <div class="finger finger1"></div>
                <div class="finger finger2"></div>
                <div class="finger finger3"></div>
            </div>
            <div class="arm armright">
                <div class="finger finger4"></div>
                <div class="finger finger5"></div>
                <div class="finger finger6"></div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <h2 class="footer_text">Little Frankie says thank you for your visit! We hope to see you soon :)</h2>
    </footer>
</body>

</html>