<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Monstruito :o</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="body_monstruo">
        <div class="body_eye eye1">
            <div class="body_eyelidup eyelid1"></div>
            <div class="body_eyeliddown eyelid4"></div>
        </div>
        <div class="body_eye eye2">
            <div class="body_eyelidup eyelid2"></div>
            <div class="body_eyeliddown eyelid5"></div>
        </div>
        <div class="body_eye eye3">
            <div class="body_eyelidup eyelid3"></div>
            <div class="body_eyeliddown eyelid6"></div>
        </div>
    </div>
</body>

</html>
